{% extends 'base.html' %}
{% block title %}
  Edit Nhanvien
{% endblock  %}

{% block content %}
<form action="{{ request.path }}" method="POST">
    <h1 class="nav-link">This is edit staff</h1>
    <div class="col-md-3">
        <label for="name">name</label><br>
        <input type="text" class="form-control" name="Name" placeholder="name" /><br>

        <label for="numberphone">numberphone</label><br>
        <input type="text" class="form-control" name="numberphone" placeholder="numberphone" /><br>

        <label for="datejoin">datejoin</label><br>
        <input type="text" class="form-control" name="datejoin" placeholder="datejoin" /><br>

        <label for="description">description</label><br>
        <input type="text" class="form-control" name="description" placeholder="description" /><br>

       
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{{ url_for('nhanvien_page') }}"><button type="button" class="btn btn-success">Back to list</button></a>
    </div>
</form>{% endblock %}